@import url('../../../node_modules/bootstrap/dist/css/bootstrap.css');

/* CUSTOM STYLES
------------------------------------------------*/

awesome-component {
    position: fixed;
    background: #1976D2;
    color: white;
    font-family: 'Lato';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}